@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Header mit nav*/

header nav,
a,
p {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Yomogi', cursive;
    color: #042A5A;
    font-weight: 100;
    padding: .5vh 5vw;
    font-size: 1.3em;
}

header {
    position: fixed;
    justify-content: center;
    background-color: beige;
    padding-top: 2vh;
    width: 100%;
    z-index: 50;
}

header h1 {
    display: flex;
    justify-content: center;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    color: #042A5A;
    font-size: 2em;
    line-height: 1.5em;
    padding: .5em 1em;
}