* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    font-size: 1.2em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #042A5A;
    padding: .4em 1em;
}


/*Header mit nav*/

nav,
a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #042A5A;
    font-weight: 100;
    padding: .5vh 5vw;
    font-size: 1.1em;
}

header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

header .line {
    position: absolute;
    border: 1px solid #042A5A;
    width: 100%;
}